In [ ]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.11/dist-packages (3.9.1)
Requirement already satisfied: click in /usr/local/lib/python3.11/dist-packages (from nltk) (8.2.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.11/dist-packages (from nltk) (1.5.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.11/dist-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from nltk) (4.67.1)

# Tokenization

In [ ]:
import nltk
nltk.download('punkt') #  "punkt" tokenizer model, is required to split text into sentences.
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

True

In [ ]:
corpus  = """My name is Ibtisam I am the student of the bs Artificial Intelligence,
I love to learn generative AI and build real worl projects.
I am enjoying watching krish naik's course.
 """

In [ ]:
print(corpus)

My name is Ibtisam I am the student of the bs Artificial Intelligence,
I love to learn generative AI and build real worl projects.
I am enjoying watching krish naik's course.

In [ ]:
# Tokenization  --> paragraph to sentence
from nltk.tokenize import sent_tokenize

In [ ]:
docs = sent_tokenize(corpus)

In [ ]:
docs

['My name is Ibtisam I am the student of the bs Artificial Intelligence,\nI love to learn generative AI and build real worl projects.',
 "I am enjoying watching krish naik's course."]

In [ ]:
type(docs)

list

In [ ]:
len(docs[0])

130

In [ ]:
# paragraph to words
# sentence to words

from nltk.tokenize import word_tokenize

In [ ]:
word_tokenize(corpus)

['My',
 'name',
 'is',
 'Ibtisam',
 'I',
 'am',
 'the',
 'student',
 'of',
 'the',
 'bs',
 'Artificial',
 'Intelligence',
 ',',
 'I',
 'love',
 'to',
 'learn',
 'generative',
 'AI',
 'and',
 'build',
 'real',
 'worl',
 'projects',
 '.',
 'I',
 'am',
 'enjoying',
 'watching',
 'krish',
 'naik',
 "'s",
 'course',
 '.']

In [ ]:
# paragraph to words
# sentence to words

from nltk.tokenize import word_tokenize

In [ ]:
word_tokenize(corpus)

['My',
 'name',
 'is',
 'Ibtisam',
 'I',
 'am',
 'the',
 'student',
 'of',
 'the',
 'bs',
 'Artificial',
 'Intelligence',
 ',',
 'I',
 'love',
 'to',
 'learn',
 'generative',
 'AI',
 'and',
 'build',
 'real',
 'worl',
 'projects',
 '.',
 'I',
 'am',
 'enjoying',
 'watching',
 'krish',
 'naik',
 '.']

In [ ]:
for sentence in docs:
  print(word_tokenize(sentence))

['My', 'name', 'is', 'Ibtisam', 'I', 'am', 'the', 'student', 'of', 'the', 'bs', 'Artificial', 'Intelligence', ',', 'I', 'love', 'to', 'learn', 'generative', 'AI', 'and', 'build', 'real', 'worl', 'projects', '.']
['I', 'am', 'enjoying', 'watching', 'krish', 'naik', '.']

In [ ]:
from nltk.tokenize import wordpunct_tokenize # it make sure that the punctuation is also treated as the seperate world..

TypeError: expected string or bytes-like object, got 'list'

In [ ]:
wordpunct_tokenize(corpus)

['My',
 'name',
 'is',
 'Ibtisam',
 'I',
 'am',
 'the',
 'student',
 'of',
 'the',
 'bs',
 'Artificial',
 'Intelligence',
 ',',
 'I',
 'love',
 'to',
 'learn',
 'generative',
 'AI',
 'and',
 'build',
 'real',
 'worl',
 'projects',
 '.',
 'I',
 'am',
 'enjoying',
 'watching',
 'krish',
 'naik',
 "'",
 's',
 'course',
 '.']

In [ ]:
from nltk.tokenize import TreebankWordTokenizer

In [ ]:
tokenizer = TreebankWordTokenizer()

In [ ]:
tokenizer.tokenize(corpus)

['My',
 'name',
 'is',
 'Ibtisam',
 'I',
 'am',
 'the',
 'student',
 'of',
 'the',
 'bs',
 'Artificial',
 'Intelligence',
 ',',
 'I',
 'love',
 'to',
 'learn',
 'generative',
 'AI',
 'and',
 'build',
 'real',
 'worl',
 'projects.',
 'I',
 'am',
 'enjoying',
 'watching',
 'krish',
 'naik',
 "'s",
 'course',
 '.']