# Functions in Python


1. Introduction to Functions
2. Defining Functions
3. Calling Functions
4. Function Parameters
5. Default Parameters
6. Variable-Length Arguments
7. Return Statement


### Definition:

A function is a block of code that performs a specific task. Functions help in organizing code, reusing code, and improving readability.

In [1]:
## syntax
def function_name(parameters):
    """Docstring"""
    # Function body
    return expression

In [2]:
num=20
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [3]:
def even_or_odd(num):
    """This function finds even or odd"""
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

# Call this function
even_or_odd(24)

the number is even

In [5]:
# function with multiple parameters

def add(a,b):
    return a+b

result=add(2,10)
print(result)

12

In [7]:
# Default Parameters

def greet(name):
    print(f"Hello {name} Welcome To the Club")

greet("Ibtisam")

Hello Ibtisam Welcome To the Club

In [8]:
def greet(name="Guest"):
    print(f"Hello {name} Welcome To the Club")

greet("Ibtisam")

Hello Ibtisam Welcome To the Club

In [9]:
# Variable Length Arguments
# Positional And Keywords arguments

def print_numbers(*kwargs):
    for number in kwargs:
        print(number)

In [10]:
print_numbers(1,2,3,4,5,6)

1
2
3
4
5
6

In [12]:
# keywords arguments

def print_info(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")

print_info(name='Ibtisam',age=34,location="Pakistan")

name: Ibtisam
age: 34
location: Pakistan

In [13]:
def print_info(*args , **kwargs):
  for arg in args:
    print(arg)

  for key,value in kwargs.items():
    print(f"{key}:{value}")

print_info("Ibtisam",34,"Pakistan",name="Ibtisam",age=34,location="Pakistan")

Ibtisam
34
Pakistan
name:Ibtisam
age:34
location:Pakistan

In [14]:
# Return statement
def multiply(a,b):
  return a * b

multiply(3,2)

6

In [15]:
def multiply_add(a,b,c) :
  return a*b , b+c

In [16]:
multiply_add(2,3,4)

(6, 7)