# Lambda Functions in Python
Lambda functions are small anonymous functions defined using the lambda keyword. They can have any number of arguments but only one expression. They are commonly used for short operations or as arguments to higher-order functions.

In [25]:
# syntax of the lambda function
lambda arguments:expression

In [26]:
def addition(a,b):
  return a+b

In [27]:
addition(4,5)

9

In [30]:
addition_1 = lambda a,b:a+b
print(type(addition_1))
print(addition_1(4,8))

<class 'function'>
12

In [31]:
def even(num):
    if num%2==0:
        return True

even(24)

True

In [32]:
even = lambda x:x%2==0
even(12)

True

In [33]:
def addition(x,y,z):
    return x+y+z

addition(1,1,1)

3

In [34]:
adition_2 = lambda x,y,z : x+y+z
adition_2(1,2,3)

6

In [35]:
numbers=[1,2,3,4,5,6]
def square(number):
    return number**2

square(2)

4

In [36]:
# map()- applies a function to all items in a list
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]