### The map() Function in Python
The map() function applies a given function to all items in an input list (or any other iterable) and returns a map object (an iterator). This is particularly useful for transforming data in a list comprehensively.

In [38]:
def square(x):
    return x*x

square(10)

100

In [39]:
numbers=[1,2,3,4,5,6,7,8]

list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [40]:
# Lambda function with map
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [42]:
numbers1=[1,2,3]
numbers2=[4,5,6]

addition = list(map(lambda x,y:x+y,numbers1,numbers2))
addition

[5, 7, 9]

In [43]:
# map() to convert a list of strings to integers
str_nums = ['1','4','7','8','9']
int_nums = list(map(int,str_nums))
int_nums

[1, 4, 7, 8, 9]

In [44]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [46]:
def get_name(person):
  return person['name']

people = [
    {'name':'Ibtisam','age':'21'},
    {'name':'Osama','age':'45'}
]
list(map(get_name,people))

['Ibtisam', 'Osama']