# The filter() Function in Python
The filter() function constructs an iterator from elements of an iterable for which a function returns true. It is used to filter out items from a list (or any other iterable) based on a condition.

In [47]:
def even(num):
    if num%2==0:
        return True

In [48]:
even(24)

True

In [49]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12]

list(filter(even,lst))

[2, 4, 6, 8, 10, 12]

In [50]:
# filters with lambda function
numbers = [10,20,34,23,27,65,12]
even = list(filter(lambda x:x%2==0,numbers))
even

[10, 20, 34, 12]

In [51]:
# filter with a lambda function and multiple conditions
even = list(filter(lambda x:x>10 and x%2==0,numbers))
even

[20, 34, 12]

In [54]:
# Filter() to check if the age is greate than 25 in dictionaries
people=[
    {'name':'Ibtisam','age':32},
    {'name':'osama','age':33},
    {'name':'hammad','age':25}
]

checker = list(filter(lambda people : people['age'] > 25 ,people ))
checker

[{'name': 'Ibtisam', 'age': 32}, {'name': 'osama', 'age': 33}]