Loops


1. Introduction to Loops

2. for Loop

    - Iterating over a range
    - Iterating over a string

3. while Loop

4. Loop Control Statements

    - break
    - continue
    - pass
5. Nested Loops

6. Practical Examples and Common Errors

In [1]:
# for loop
for i in range (10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range (1,6):
  print(i)

1
2
3
4
5

In [8]:

for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [10]:
for i in range (10,1,-2):
    print(i)

10
8
6
4
2

In [11]:
str = "Ibtisam"
for i in str :
  print(i)

I
b
t
i
s
a
m

In [13]:
#Loop Control Statements
# break
# The break statement exits the loop permaturely
# break sstatement

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [14]:
# pass
# The pass statement is the null operation it does nothing

for i in range(1,10) :
  if i == 5 :
    pass
  print(i)

1
2
3
4
5
6
7
8
9

In [16]:
# Nested Loops (Loop inside the loop)

for i in range (3):
  for j in range(2) :
    print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

In [17]:
# Examples - Calculate the sum of first N natural numbers using a while and foor loop
n = 10
count = 1
sum = 0
while count <= n :
  sum += count
  count += 1
print(sum)

55

In [19]:
n = 10
sum = 0
for i in range (n+1):
  sum += i
print(sum)

55

In [22]:
# Checking the prime number between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97