
# Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

- Introduction to Variables
- Declaring and Assigning Variables
- Naming Conventions
- Understanding Variable Types
- Type Checking and Conversion
- Dynamic Typing
- Practical Examples and Common Errors

In [ ]:
a = 32

In [ ]:
# declaring and assigning variables
age = 20
height = 5.89
name = "Ibtisam"
is_student = True

# print out the variables
print(age)
print(height)
print(name)
print(is_student)

20
5.89
Ibtisam
True

In [ ]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names
first_name = "Ibtisam"
last_name = "Asghar"

print(first_name,last_name)

Ibtisam Asghar

In [ ]:

# Invalid variable names
#2age=20
#first-name="Ibtisam"
@name="Ibtisam"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-19-7ce06db26fb8>, line 4)

In [ ]:
age = 22
print(type(age))
age_str = str(age)
# print(age_str + 2) # throw an error
print(age_str)
print(type(age_str))

<class 'int'>
22
<class 'str'>

In [ ]:
age = '22'
age_int = int(age)
print(age_int + 2)

24

In [ ]:
variable = 21
print(type(variable))
variable = "Ibtisam"
print(type(variable))

<class 'int'>
<class 'str'>

In [ ]:
name = "Ibtisam"
name_int = int(name)
print(name_int)

ValueError: invalid literal for int() with base 10: 'Ibtisam'

In [1]:
## input
age = int(input("What is the age"))
print(age,type(age))

What is the age34
34 <class 'int'>

In [2]:

### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Enter first number: 23
Enter second number: 4
Sum: 27.0
Difference: 19.0
Product: 92.0
Quotient: 5.75


# Conclusion:
Variables are essential in Python programming for storing and manipulating data. Understanding how to declare, assign, and use variables effectively is crucial for writing functional and efficient code. Following proper naming conventions and understanding variable types will help in maintaining readability and consistency in your code.