#Introduction To Lists
####Lists are ordered, mutable collections of items.
####They can contain items of different data types.

1. Introduction to Lists
2. Creating Lists
3. Accessing List Elements
4. Modifying List Elements
5. List Methods
6. Slicing Lists
7. Iterating Over Lists
8. List Comprehensions
9. Nested Lists
10. Practical Examples and Common Errors

In [1]:
lst=[]
print(type(lst))

<class 'list'>

In [2]:
lst=["Ibtisam",1,2,3,4,5]
print(lst)

['Ibtisam', 1, 2, 3, 4, 5]

In [3]:
mixed_list=[1,"Ibtisam",22.5,True]
print(mixed_list)

[1, 'Ibtisam', 22.5, True]

In [4]:
# Accessing List Elements

fruits=["apple","Mango","banana","Cherry","Watermelon","kiwi","gauva"]
print(fruits[0])
print(fruits[2])
print(fruits[5])
print(fruits[-1])

apple
banana
kiwi
gauva

In [5]:
print(fruits[1:])
print(fruits[2:])
print(fruits[1:3])

['Mango', 'banana', 'Cherry', 'Watermelon', 'kiwi', 'gauva']
['banana', 'Cherry', 'Watermelon', 'kiwi', 'gauva']
['Mango', 'banana']

In [6]:
# Modifying The List elements
fruits[1] = 'Orange'
print(fruits)

['apple', 'Orange', 'banana', 'Cherry', 'Watermelon', 'kiwi', 'gauva']

In [8]:
fruits[1:]="Grappes"
print(fruits)

['apple', 'G', 'r', 'a', 'p', 'p', 'e', 's']

In [9]:
fruits=["apple","Mango","banana","Cherry","Watermelon","kiwi","gauva"]
fruits.append('Orange')
print(fruits)

['apple', 'Mango', 'banana', 'Cherry', 'Watermelon', 'kiwi', 'gauva', 'Orange']

In [12]:
fruits.insert(1,'Grappes')
print(fruits)

['apple', 'Grappes', 'Grappes', 'Mango', 'banana', 'Cherry', 'Watermelon', 'kiwi', 'gauva', 'Orange']

In [13]:
fruits.remove('Grappes')
print(fruits)

['apple', 'Grappes', 'Mango', 'banana', 'Cherry', 'Watermelon', 'kiwi', 'gauva', 'Orange']

In [14]:
# Removing and resturning the last element
last_element = fruits.pop()
print(last_element)
print(fruits)

Orange
['apple', 'Grappes', 'Mango', 'banana', 'Cherry', 'Watermelon', 'kiwi', 'gauva']

In [15]:
# Checking the index of the item
index = fruits.index("banana")
print(index)

3

In [16]:
fruits.append('apple')
print(fruits.count('apple'))

2

In [24]:
fruits.remove('apple')

In [34]:
fruits=["apple","mango","banana","Cherry","watermelon","kiwi","gauva"]
fruits.sort(key=str.lower)
fruits

['apple', 'banana', 'Cherry', 'gauva', 'kiwi', 'mango', 'watermelon']

In [35]:
fruits.reverse()
fruits

['watermelon', 'mango', 'kiwi', 'gauva', 'Cherry', 'banana', 'apple']

In [36]:
fruits.clear()
fruits

[]

In [37]:
# Slicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [38]:
numbers[::-2]

[10, 8, 6, 4, 2]

In [39]:
# Iterating Over List

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [40]:
# Iterating with index
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [41]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
# Basic List Comphrension

sqaure=[num**2 for num in range(10)]
print(sqaure)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
# List Comprehension with Condition
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [44]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [45]:
lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [46]:
# List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]