
#Tuples

1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors


Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [51]:
tuple_ = ()
print(type(tuple_))

<class 'tuple'>

In [52]:

lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [53]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [54]:

list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [55]:
mixed_tuple=(1,"Ibtisam Asghar",3.14, True)
print(mixed_tuple)

(1, 'Ibtisam Asghar', 3.14, True)

In [56]:
# Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [58]:
print(numbers[2])
print(numbers[3])
print(numbers[-1])

3
4
6

In [59]:

numbers[1:4]

(2, 3, 4)

In [60]:

numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [61]:
# Tuple Operations

concatenation_of_tuple=numbers + mixed_tuple
print(concatenation_of_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Ibtisam Asghar', 3.14, True)

In [62]:
mixed_tuple * 3

(1,
 'Ibtisam Asghar',
 3.14,
 True,
 1,
 'Ibtisam Asghar',
 3.14,
 True,
 1,
 'Ibtisam Asghar',
 3.14,
 True)

In [63]:
numbers * 2

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [64]:
# Immutable Nature Of Tuples
# Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Ibtisam"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Ibtisam', 3, 4, 5]

In [65]:
numbers[1] = "Ibtisam"

TypeError: 'tuple' object does not support item assignment

In [66]:
# Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [67]:
# Packing and unpacking tuple
# Packing
pack_tuple = 1,"Ibtisam",22.3
print(pack_tuple)

(1, 'Ibtisam', 22.3)

In [68]:
# unpacking a tuple
a,b,c=pack_tuple
print(a)
print(b)
print(c)

1
Ibtisam
22.3

In [69]:
# unpack with the start
numbers = (1,2,3,4,5,6,7,8,9)
a,*b,c,d = numbers
print(a)
print(b)
print(c)
print(d)

1
[2, 3, 4, 5, 6, 7]
8
9

In [70]:
# Nested Tuple
# Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Ibtisam",3.14,"c"]]

In [73]:
lst[0][0]

1

In [74]:
lst[1][1:]

[7, 8, 9]

In [78]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Ibtisam",3.14,"c")]
lst[2][0:3]

(1, 'Ibtisam', 3.14)

In [77]:

nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

# access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [83]:
# Iterating over the nested tuples
for item in nested_tuple:
  for element in item:
    print(element,end=" ")
  print()

1 2 3
a b c
True False