
#Sets
Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [ ]:
#create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
empty_set = {}
print(type(empty_set))

<class 'dict'>

In [ ]:
my_set = set(["ibtisam",23,23.4,'a'])
print(my_set)

{23.4, 'a', 'ibtisam', 23}

In [ ]:

my_empty_set=set([1,2,3,6,5,4,5,6]) # only unique values
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
# Basics Sets Operation
# Adiing and Removing Elements
my_set.add(7)
print(my_set)
my_set.add(6)
print(my_set)

{'ibtisam', 7, 'a', 23, 23.4}
{'ibtisam', 7, 'a', 6, 23, 23.4}

In [ ]:
# Remove the element from the set
my_set.remove(6)
print(my_set)

{'ibtisam', 7, 'a', 23, 23.4}

In [ ]:
my_set.remove(10)

KeyError: 10

In [ ]:

my_set.discard(10)
print(my_set)

{7, 'a', 23, 23.4}

In [ ]:
# pop method
removed_element=my_set.pop()
print(removed_element)
print(my_set)

ibtisam
{7, 'a', 23, 23.4}

In [ ]:
# clear all the elements
my_set.clear()
print(my_set)

set()

In [2]:
# set Memebership test
my_set = {22,23,34,546,56}
print(22 in my_set)
print(44 in my_set)

True
False

In [5]:
# Mathematical operations on the sets
set1 = {1,2,3,4,5,6}
set2 = {7,4,5,10,6}

# union operation
union_set = set1.union(set2)
print(union_set)

# Intersection operation
intersection_operation = set1.intersection(set2)
print(intersection_operation)

# Difference
difference_set = set1.difference(set2)
print(difference_set)

# symmetric difference
symmetric_difference = set1.symmetric_difference(set2)
print(symmetric_difference)

{1, 2, 3, 4, 5, 6, 7, 10}
{4, 5, 6}
{1, 2, 3}
{1, 2, 3, 7, 10}

In [6]:
# sets Methods
set1 = {1,2,3,4,5}
set2 = {3,4,5}

# is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

In [7]:
lst = [10,20,20,20,40,40,50]
set(lst)

{10, 20, 40, 50}

In [9]:
# counting the unique words in text
text = "My name is ibtisam and i am learning Generative AI"
words = text.split()

unique_words = set(words)
length_words = len(unique_words)
print(unique_words)
print(length_words)

{'am', 'AI', 'i', 'and', 'ibtisam', 'name', 'learning', 'Generative', 'is', 'My'}
10