## Dictionaries


1. Introduction to Dictionaries
2. Creating Dictionaries
3. Accessing Dictionary Elements
4. Modifying Dictionary Elements
5. Dictionary Methods
6. Iterating Over Dictionaries
7. Nested Dictionaries
8. Dictionary Comprehensions
9. Practical Examples and Common Errors

#### Introduction to Dictionaries
Dictionaries are unordered collections of items. They store data in key-value pairs. Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any type.

In [11]:
# creating Dictionaries
empty_dic = {}
print(type(empty_dic))
print(empty_dic)

<class 'dict'>
{}

In [20]:
student = {'name':'Ibtisam','age':22,'major':'CS'}
print(student)

{'name': 'Ibtisam', 'age': 22, 'major': 'CS'}

In [21]:
# accessing dictionary elements
print(student['name'])
print(student['age'])
print(student['major'])

Ibtisam
22
CS

In [22]:
# accessing using the get() method
print(student.get('name'))
print(student.get('age'))
print(student.get('major'))

Ibtisam
22
CS

In [23]:
# Modifying the dictionary elements
student['major'] = "AI"
print(student)
student['address'] = "Pakistan"
print(student)

{'name': 'Ibtisam', 'age': 22, 'major': 'AI'}
{'name': 'Ibtisam', 'age': 22, 'major': 'AI', 'address': 'Pakistan'}

In [24]:
# del key and value pair
del student['address']
print(student)

{'name': 'Ibtisam', 'age': 22, 'major': 'AI'}

In [26]:
# Dictionary methods

keys = student.keys()
print(keys)
values = student.values()
print(values)

# get all key and value pairs
items = student.items()
print(items)

dict_keys(['name', 'age', 'major'])
dict_values(['Ibtisam', 22, 'AI'])
dict_items([('name', 'Ibtisam'), ('age', 22), ('major', 'AI')])

In [27]:
# shallow copy
student_copy = student
print(student_copy)
print(student)

{'name': 'Ibtisam', 'age': 22, 'major': 'AI'}
{'name': 'Ibtisam', 'age': 22, 'major': 'AI'}

In [28]:
student['name'] = 'Osama'
print(student_copy)
print(student)

{'name': 'Osama', 'age': 22, 'major': 'AI'}
{'name': 'Osama', 'age': 22, 'major': 'AI'}

In [29]:
student_copy_1 = student.copy()
print(student_copy_1)
print(student)

{'name': 'Osama', 'age': 22, 'major': 'AI'}
{'name': 'Osama', 'age': 22, 'major': 'AI'}

In [30]:
student['name' ]= "Ibtisam"
print(student_copy_1)
print(student)

{'name': 'Osama', 'age': 22, 'major': 'AI'}
{'name': 'Ibtisam', 'age': 22, 'major': 'AI'}

In [32]:
# Iterating over Dictionaries
for keys in student.keys():
  print(keys)

name
age
major

In [33]:
for value in student.values():
  print(value)

Ibtisam
22
AI

In [34]:
# iterating over key value pair
for key,value in student.items():
  print(key,value)

name Ibtisam
age 22
major AI

In [35]:
# Nested Dictionaries
student = {
    'student_1' :{'name':"Ibtisam",'age':22},
    'student_2' :{'name':'Osama','age':24}
}
student.items()

dict_items([('student_1', {'name': 'Ibtisam', 'age': 22}), ('student_2', {'name': 'Osama', 'age': 24})])

In [40]:
# Access nested dictionaries elements
student = {
    'student_1' :{'name':"Ibtisam",'age':22},
    'student_2' :{'name':'Osama','age':24}
}
print(student['student_1']['name'])

Ibtisam

In [41]:
## Iterating over nested dictionaries

for student_id,student_info in student.items():
  print(student_id,student_info)
  for key,value in student_info.items():
    print(key,value)

student_1 {'name': 'Ibtisam', 'age': 22}
name Ibtisam
age 22
student_2 {'name': 'Osama', 'age': 24}
name Osama
age 24

In [42]:
# dictionary comprehension
squares = {x:x**2 for x in range(1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [43]:
# Condition dictionary comprehension
squares = {x:x**2 for x in range(1,10) if x%2 == 0}
print(squares)

{2: 4, 4: 16, 6: 36, 8: 64}

In [44]:
# count the frequency of elements in list
numbers = [10,20,20,20,30,30,40,40,40,40,40]
frequency = {}

for items in numbers :
  if items in frequency:
    frequency[items]+= 1
  else :
    frequency[items] = 1
print(frequency)

{10: 1, 20: 3, 30: 2, 40: 5}

In [45]:
# Merge 2 dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2} # ** operator is used for unpacking dictionaries.
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}